@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sansf-serif;
}

body {
  background: rgba(229, 228, 226, 0.7);
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: [first] 300px [second] 450px;
  grid-template-rows: 500px;
  grid-gap: 0px;
  justify-content: center;
  align-content: center;
}

.container .item {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .item-1 {
  align-items: center;
  text-align: center;
  background: rgba(122,135,229,0.8);
}

.container .item-1 * {
  margin: 30px 0;
  font-weight: 600;
  line-height: 20pt;
}

.container .item-1 h2 {
  font-size: 30px;
}

.container .item-2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .item-2 h2 {
  font-size: 23px;
}

.container .item-2 * {
  margin: 7px 0;
}

.container .item-2 input[type="text"], input[type="password"] {
  background-color: rgba(0,0,0,0.09);
  border: none;
  border-radius: 50px;
  padding: 13px 35px;
  outline-width: 0;
}

.container .item-2 img {
  position: absolute;
  width: 24px;
  margin-top: 15px;
  margin-left: 200px;
}

.container .item-2 .checkbox-container label[for="remember-me"] {
  margin-right: 22px;
}

input[type=checkbox] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1.5px solid #7a87e5;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: #7a87e5;
  box-shadow: 0px 0px 0px 2.5px #fff inset;
}

.container .item-2 button {
  color: white;
  font-weight: 700;
  background: #7a87e5;
  box-shadow: 0px 0px 0px transparent;
  border: none;
  outline-width: 0;
  text-shadow: 0px 0px 0px transparent;
  padding: 10px 15px;
  border-radius: 25px;
  transition: all 0.3s ease 0s;
}

.container .item-2 button:hover {
  background-color: #ee76f9;
}

/* Start of Media Query */
@media (max-width: 1200px) {
 
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 420px;
    grid-template-rows: [first] 200px [second] 350px;
  }

  .container .item-1 * {
    margin: 15px 15px;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 350px;
    grid-template-rows: [first] 200px [second] 350px;
  }

  .container .item-1 * {
    margin: 15px 15px;
    font-weight: 600;
    line-height: 20pt;
    font-size: 0.8em;
  }

  .container .item-1 h2 {
    font-size: 24px;
  }

  .container .item-2 h2 {
    font-size: 19px;
  }

  .container .item-2 .checkbox-container * {
    font-size: 13px;
  }

}

/* End of Media Query */